@model IKSitesiMVC.ViewModels.Login.ForgotPassword_VM

@{
    ViewData["Title"] = "Şifremi Unuttum";
}

<h2 class="mb-3">Şifremi Unuttum</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label">E-Posta Adresiniz</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Şifre Sıfırlama Maili Gönder</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}